<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DocMeet Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('admin.dashboard') }}">Dashboard</a>
        <a href="{{ url_for('admin.manage_users') }}">Manage Users</a>
        <a href="{{ url_for('admin.manage_doctors') }}">Manage Doctors</a>
        <a href="{{ url_for('admin.manage_appointments') }}">Manage Appointments</a>
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </nav>
    <div>
        {% block content %}{% endblock %}
    </div>
</body>
</html>
